pyjwt[crypto]==2.6.0
Flask==2.2.3
Flask-Admin==1.6.1
sentry-sdk==0.10.2
Flask-Login
Flask-Security==3.0.0
flask-mongoengine
flask_wtf==1.0.1
jinja2==3.0.0
python-dotenv==0.16.0
python-dateutil==2.8.2
WTForms==2.3.3
pydash==5.0.0
web3==5.31.1
email_validator==1.3.0
flask-admin-s3-upload
Pillow==9.3.0
boto3==1.26.3
w3storage==0.0.1
SQLAlchemy==1.4.49
Flask-SQLAlchemy==2.5.1
Werkzeug==2.2.2
pymysql==1.1.0
pysha3==1.0.2
ecdsa
pytz